<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">

	<head>
		<title>Register List</title>
	</head>

	<section layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h3 class="panel-title title-panel">Register List</h3>
					<a class="link-panel" href="/registers/new">New Register</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Description</th>
							<th class="text-center col-md-2">Due Date</th>
							<th class="text-center col-md-2">Value</th>
							<th class="text-center col-md-2">Status</th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="register : ${registers}">
							<td class="text-center" th:text="${register.id}"></td>
							<td th:text="${register.description}"></td>
							<td class="text-center" th:text="${{register.dueDate}}"></td>
							<td class="text-center" th:text="|R$ ${{register.value}}|"></td>
							<td class="text-center">
								<span class="label" th:text="${register.status.description}" 
								th:classappend="${register.status.description == 'Pending' ? 'label-danger' : 'label-success'}"></span>
							</td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" title="Edit Register" th:href="@{/registers/{id}(id=${register.id})}" >
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(registers)}">Registers not found!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</html>