<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">

	<head>
		<title>New Registry</title>
	</head>
	
	<section layout:fragment="content">
		<form class="form-horizontal" method="POST" action="/registries" th:object="${registry}">
			
			<div layout:insert="~{messages}"></div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="clearfix">
						<h3 class="panel-title title-panel">New Registry</h3>
						<a class="link-panel" href="/registries">Go back!</a>
					</div>
				</div>
				<div class="panel-body">
					<input type="hidden" th:field="*{id}" />

					<div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-error">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-4">
							<input id="description" th:field="*{description}" type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('dueDate')} ? has-error">
						<label for="dueDate" class="col-sm-2 control-label">Due Date</label>
						<div class="col-sm-2">
							<input id="dueDate" th:field="*{dueDate}" type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('value')} ? has-error">
						<label for="value" class="col-sm-2 control-label">Value</label>
						<div class="col-sm-2">
							<input id="value" th:field="*{value}" type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label for="status" class="col-sm-2 control-label">Status</label>
						<div class="col-sm-2">
							<select id="status" th:field="*{status}" class="form-control">
								<option th:each="status : ${allStatus}" th:value="${status}" th:text="${status.description}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</html>