<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Registry</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Condominium Charge</a>
				</div>
			</div>
		</nav>
		
		<section layout:fragment="content">
		</section>
	
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/webjars/jquery-mask-plugin/1.14.10/dist/jquery.mask.min.js}"></script>
		
		<script th:src="@{/js/script.js}"></script>
	</body>
</html>